In [5]:
import pandas as pd
import json
from collections import defaultdict
from unidecode import unidecode
from string import ascii_lowercase

In [51]:
class EthnicityDetector(object):
    
    def __init__(self, df, ethnicity_list):
        
        self.DATA_DIR = "/Users/ik/Data/"
        self.NAME_DATA_DIR = self.DATA_DIR + "names/"
        self.ethnicity_list = ethnicity_list
        self.input_df = df
        print("new customer ids: {}".format(len(self.input_df)))
        
        # load name and surname databases
        self.name_dict = json.load(open(self.NAME_DATA_DIR + "names_26092017.json", "r"))
        self.surname_dict = json.load(open(self.NAME_DATA_DIR + "surnames_26092017.json", "r"))
        # make name and surname dictionaries by letter for required ethnicities
        self.names = defaultdict(lambda: defaultdict(set))
        self.surnames = defaultdict(lambda: defaultdict(set))
    
    def _create_ethnic_dicts(self):
        
        for ethnicity in self.ethnicity_list:
            
            if ethnicity in self.name_dict:
                self.names[ethnicity] = {letter: {w["name"] for w in self.name_dict[ethnicity] 
                                                 if w["name"][0] == letter} for letter in ascii_lowercase}
            else:
                self.names[ethnicity] = {}
                
            if ethnicity in self.surname_dict:
                self.surnames[ethnicity] = {letter: {w for w in self.surname_dict[ethnicity] 
                                                 if w[0] == letter} for letter in ascii_lowercase}
            else:
                self.surnames[ethnicity] = {}
                
        return self
    
    def _clean_input(self):
        
        # replace separators with white spaces, then make sure there's only 1 white space separating name parts
        self.input_df["full_name"] = self.input_df["full_name"].str.replace(r"[-'_]", " ").str.split().str.join(' ').str.strip()
        # ignore names that contain not only letters
        self.input_df["full_name"] = self.input_df[self.input_df["full_name"].str.isalpha()]
        
        return self
    
    def _find_in_name(self):
   
        self.input_df["name_ethn"] = self.input_df["full_name"].apply(lambda _: "|".join([ethnicity for ethnicity in self.ethnicity_list 
                                                                      if _ in self.names[ethnicity][_[0]]]))
            
        return self

In [52]:
df = pd.read_csv("/Users/ik/Data/temp/sample_new_customer_names.csv")
ed = EthnicityDetector(df, ["indian", "filipino"])

new customer ids: 200997

In [53]:
ed._create_ethnic_dicts()
ed.input_df.head()

   cust_id          full_name
0    12374     steve  balzary
1    13763  annette  matheson
2    52404   andrew g wiseman
3    53306     bruce  fenwick
4    54140  lionel  werbeloff

In [54]:
ed.input_df[ed.input_df["full_name"].apply(lambda x: x.startswith(" "))]

         cust_id                        full_name
1330     1210421                 meliisa anderson
9196     3925488                             test
9197     3925653                             test
13322    3922423             hyatt hotel canberra
23022    7025640                     artist comps
24054    7464408                   mystry shopper
24133    7671178          southern cross austereo
27921    8795557                  player services
28792    9034572    st phillips christian college
30006    9445021                            heath
30057    7276515                     artist comps
30633    7812040                   promtoer comps
32963   10139857                            nixon
33829    8247116                           herald
34536   10428490                           walkup
36909   11053639                         relocate
38288    8932694                    telstra comps
44522   12249696                   atu gate sales
44756   12278495          crosbie warren sinclair
49788   13218604             irrawang high school
49789   13226424             stc holds & releases
49952   13275617                    linuel school
51812   10540363              chugg entertainment
51975   13579890                melbourne victory
52045   10562640                            qlcan
53178   13731406                           wenham
54041   10744587             nickelodeon aus & nz
54338   13884377    cowboys rugby league football
55182   13955004                 manly sea eagles
58499   14214550                            holds
...          ...                              ...
195494  23715545         geoff jones comps 25 jan
196368  23731675       doctor - photobooth contra
196494  23741964                       17 aru aon
196527  23744710             wc player - 3 feb 17
196856  23749380           telstra papering comps
197029  23750999                      shane mates
197617  23759838           teg live- gnr promoter
197625  23759872           airport - gnr promoter
197650  23761568                      contingency
197742  23766351                         suite 23
197792  23769104      qrl soo 17 - premium sports
197794  23769162       qrl soo 17 - global sports
197795  23769204     qrl soo 17 - brandons travel
197808  23769736           piaf programming comps
197809  23769957                away team tickets
197834  23771059                 piaf dress comps
197879  23773238                aaron - jumpclimb
198612  23781839                    tdp performer
198616  23781849                 t20 2017 - holds
198774  23783984          captain's club barcodes
198994  23792744                           mayeri
199355  23798144        pw-abbey holds & releases
199407  23798507                           pw-sbs
199409  23798532          cooks plumbing supplies
199414  23798623             mitsui coal holdings
199431  23798787                          mg test
199436  23798828             wc group - 20 feb 17
199968  23803390                     aufc members
200110  23805121                              ceo
200801  23820082                            kooza

[300 rows x 2 columns]

In [49]:
ed.names['filipino'].keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])